/**
 * Commons
 */

/* Clearfix */
.cf:before,.cf:after{content:"";display:table}
.cf:after{clear:both}
.cf{*zoom:1}

/* ALIGNEMENT */
.vTop{vertical-align:top}
.vBot{vertical-align:bottom}
.vMid{vertical-align:middle}

/* reset */
.resetM{margin:0}
.resetML{margin-right:0;}
.resetMR{margin-left:0;}
.resetP{padding:0}
.resetBorder{border:0 none}
.resetBg{background:none}

/* flux */
.fright{float:right}
.fleft{float:left}
.clear{clear:both}
 .iBlock{display:inline-block}
.ie7 .iBlock{display: inline}/*correct IE 7 bug inline-block*/
.iLine{display:inline}
.row{display: block}

/*POSITION*/
.rel{position:relative}

/*WIDTH*/

.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}


/* TEXT */
.uppercase{text-transform:uppercase}
.txtCenter{text-align:center}
.txtRight{text-align:right}
.txtLeft{text-align:left}
.txtJustify{text-align:justify}
.underline,u{text-decoration:underline}
.fsItalic,em{font-style:italic}
.fsNormal{font-style:normal}
.fwNormal{font-weight:normal}
.fwBold,b,strong{font-weight:bold}
.small,small{font-size:85%}
.big{font-size:115%}

/* HIDDEN */
.hidden { display: none;}
.invisible { visibility: hidden}

/*SKIN - A personnaliser*/

.dark-clr{/*couleur éventuelle foncé*/}
.norm-clr{/*couleur normal*/}
.link-clr{/*couleur lien*/}
.special-clr{/*couleur spécial*/}

body {font-size: 1em; line-height: 1}

img {vertical-align: middle}

::-moz-selection {background: #b3d4fc;text-shadow: none;}

::selection { background: #b3d4fc;text-shadow: none;}

